{
    "name":"{{{config.imageName}}}",
    "texture":"{{{config.imageName}}}.png",
    "frames":[
        {{#rects}}
        {
        "filename":"{{{name}}}",
        "frame":{
            "X":{{frame.x}},
            "Y":{{frame.y}},
            "Width":{{frame.w}},
            "Height":{{frame.h}}
        },
        "rotated":{{rotated}},
        "trimmed":{{trimmed}},
        "spriteSourceSize":{
            "X":{{spriteSourceSize.x}},
            "Y":{{spriteSourceSize.y}},
            "Width":{{spriteSourceSize.w}},
            "Height":{{spriteSourceSize.h}}
        },
        "sourceSize":{
            "Width":{{sourceSize.w}},
            "Height":{{sourceSize.h}}
        },
        "pivot":{
            "X":0.5,
            "Y":0.5
        }        
        }{{^last}},{{/last}}
        {{/rects}}
        ],
    "meta":{
        "app":"{{{appInfo.url}}}",
        "version":"{{{appInfo.version}}}",
        "image":"{{{config.imageName}}}",
        "format":"{{{config.format}}}",
        "size":{
            "Width":{{config.imageWidth}},
            "Height":{{config.imageHeight}}
        },
        "scale":{{config.scale}}
    }
}

## Contributing

Please read [CODE_OF_CONDUCT.md](CODE_OF_CONDUCT.md) for details on our code of conduct, and the process for submitting pull requests to us.

## Authors

* **Sesso Kosga** - *Initial work* - [senor16](https://github.com/senor16)

## License

This project is licensed under the MIT License - see the [licence.md](licence.md) file for details